<mat-card class="card-description">
    <mat-card-title>
        JWT token management on a Kubernetes Cluster
    </mat-card-title>
    <mat-card-content>
        <p>
            An implementation of the JWT token protocol on a distributed microservice architecture
            deployed with Kubernetes.
        </p>
        <p>
            Tokens are signed with an RSA private key so other microservices can verify the authenticity using the
            public key.
        </p>
    </mat-card-content>
</mat-card>

<app-token-visualizer></app-token-visualizer>
