.card-error {
    width: 320px;
    min-height: 220px;
    margin: 0 auto;
    margin-top: 32px;
    text-align: center;
}

.card-error-content {
    color: #555;
    font-size: 22px;
}

.sad-face {
    font-size: 96px;
    color: #355686;
}