<mat-card class="card-login">
    <mat-card-content class="card-login-content">
        <div class="avatar">
            <i class="fas fa-user-circle fa-6x"></i>
        </div>

        <div class="form-login">
            <mat-form-field>
                <input matInput placeholder="Username" [(ngModel)]="username">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" type="password" [(ngModel)]="password">
            </mat-form-field>
        </div>

        <p>
            Use: mario@luigi.org / secure
        </p>
    </mat-card-content>
    <mat-card-actions style="text-align: center">
        <button mat-raised-button color="primary" (click)="login()" [disabled]="isLoading | async">LOGIN</button>
    </mat-card-actions>
</mat-card>

<p class="footer">
    <small>API version {{ apiVersion }}</small>
</p>