<mat-card style="max-width: 320px; margin: 0 auto; margin-top: 24px">
    <mat-card-header>
        <div mat-card-avatar>
            <i class="fas fa-user fa-3x"></i>
        </div>
        <mat-card-title>Auth One</mat-card-title>
        <mat-card-subtitle>JWT Tokens on K8s</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>This is the Auth One login form</p>
        <p>{{ result }}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="check()">Click me!</button>
    </mat-card-actions>
</mat-card>