.card-login {
    max-width: 260px;
    margin: 0 auto;
    margin-top: 60px;
}

.card-login-content {
    text-align: center;
    min-height: 280px;
}

.avatar {
    text-align: center;
    color: #355686;
}

.form-login {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.form-login > * {
    width: 100%;
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 12px;
    opacity: 0.5;
    color: #333;
}
