<mat-card class="card-token-visualizer">
    <mat-card-title>
        Welcome {{ userData?.fullName }}
    </mat-card-title>
    <mat-card-content>
        <div class="token-text">
            {{ token }}
        </div>
    </mat-card-content>
    <mat-card-actions style="text-align: center">
        <button mat-raised-button color="primary" (click)="reload()">RELOAD</button>
        <button mat-raised-button color="accent" (click)="logout()">LOGOUT</button>
        <button mat-raised-button color="warn" (click)="revokeAll()">REVOKE ALL</button>
    </mat-card-actions>
</mat-card>